body{
/*	background: rgb(75,62,77);
	background: -moz-linear-gradient(90deg, rgba(75,62,77,1) 14%, rgba(30,140,147,1) 37%, rgba(215,79,51,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(75,62,77,1) 14%, rgba(30,140,147,1) 37%, rgba(215,79,51,1) 100%);
	background: linear-gradient(90deg, rgba(75,62,77,1) 14%, rgba(30,140,147,1) 37%, rgba(215,79,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b3e4d",endColorstr="#d74f33",GradientType=1);*/
	background: #332717;
}

#titulo{
	border-style: dotted;
	text-align: center;
	color: #c4c8c5;
	display: ;
}
#campo_dados{
	border-style: solid;
	border-color: red;
	padding: 10px;
}
#campo_label_respostas{
	border-style: dotted;
	border-color: blue;
}
#campo_respostas{
	whi
}

footer{

}



